@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

body {
  overflow: hidden;
}

#time {
  position: relative;
  text-align: center;
  font-size: 10px;
  opacity: 0.7;
  margin-top: 0;
  padding-top: 0;
}

#indicator {
  font-size: 15x;
  padding-bottom: 0;
  margin-bottom: 0;
  opacity: 0.8;
}

input {
  text-align: center;
  width: 1000px;
  border: 0;
  font-size: 50px;
  padding-bottom: 50px;
  margin-bottom: 0;
  caret-color: transparent;
  font-family: "Times New Roman", Times, serif;

  font-weight: bolder;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#format {
  font-size: 50px;
  padding-top: 0;
  margin-top: 0;
}

#container {
  position: absolute;
  flex-flow: column;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#footer {
  position: relative;
  top: 785px;
  opacity: 0.8;
}
